
{% extends 'base.html.twig' %}
{% block body %}

<h1>bienvenu</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo distinctio corporis a necessitatibus quaerat ipsam perspiciatis fuga deserunt iusto sint, beatae alias dolorem recusandae numquam mollitia libero veritatis at placeat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci alias perspiciatis tenetur consequatur voluptatibus aliquam enim natus, delectus ipsa dolorum consectetur. Officia eveniet magnam placeat libero. Quasi reprehenderit ab ex!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque officiis aliquam fugiat, velit veniam voluptate totam labore dolorum odit nihil nam perspiciatis eveniet officia qui facere rem corrupti consequuntur cupiditate.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem repellat, aliquam suscipit obcaecati corrupti sit veritatis impedit. Voluptatum veniam porro non doloribus ad iure inventore possimus dolorum incidunt, earum blanditiis?
</p>

{% endblock %}